html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.whole {
  display: flex;
  justify-content: center;
}
.header {
  background: black;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.header2:first-child {
  font-size: 45px;
  display: flex;
  margin: 10px 20px;
}

.header3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 600px;
}
.search {
  background-color: rgb(65, 65, 65);

  outline: none;
  color: white;
  height: 40px;
  width: 350px;
  font-size: 15px;
  margin: 5px 30px;
  border: 1px solid rgba(255, 255, 255, 0.164);
  border-radius: 2%;
}
.container {
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
}
.section1 {
  display: flex;
}

.image {
  width: 320px;
  height: 320px;
  border-radius: 2%;
}
.Nav-Bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  height: 80px;
  align-items: center;
}
.User-fix {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.Each-R {
  display: flex;

  flex-direction: column;
  justify-content: center;

  border-bottom: 1px solid gray;
  height: 120px;
}
.follow {
  height: 30px;
  font-size: 20px;
}
.url-stuff {
  color: rgb(98, 120, 245);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.find-r {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;

  height: 75px;
}
.find2 {
  font-size: 15px;
  width: 600px;
  height: 40px;
}
.Repo-fix {
  width: 70em;
}

/* buttons*/
.ButtonZ {
  width: 150px;
  height: 35px;
  font-size: 18px;
  margin: 15px;
}
.ButtonZ a {
  font-size: 18px;
}
.a2 {
  font-weight: bold;
}

.book {
  background: rgb(62, 201, 62);
  border-radius: 5px;
  outline: none;
  height: 35px;
  width: 80px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}
